html {
    height: 100%;
}

body {
    font-family: 'Consolas';
    color: white;
    font-size: 35px;
    border: 2px red solid;
    height: 100%;
}

body p {
    font-size: 30px;
    margin-top: 10%;
}

.home {
    border: 2px blue solid;
    width: 100%;
    min-height: 100%;
    padding-top: 50%;
    padding-bottom: 30%;
}

.details {
    border: 2px green solid;
}

.details-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 2px yellow solid;
}

@media (min-width: 576px) {
    body {
        font-family: 'Consolas';
        font-size: 75px;
    }
    
    p {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    body {
        font-family: 'Consolas';
        font-size: 90px;
    }
    
    p {
        font-size: 70px;
    }
}

@media (min-width: 992px) {
    body {
        font-family: 'Consolas';
        font-size: 105px;
    }
    
    p {
        font-size: 80px;
    }
}

@media (min-width: 1200px) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    p {
        font-size: 90px;
    }
}
