html {
    height: 100%;
}

body {
    font-family: 'Lucida Console', sans-serif;
    color: white;
    font-size: 35px;
    height: 100%;
    background-color: #2f3f4f;
}

    body p {
        font-size: 30px;
        margin-top: 10%;
    }

footer {
    background-color: #1f252b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    color: gray;
}

.home {
    width: 100%;
    min-height: 100%;
    padding-top: 50%;
}

.details {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: darkslategray;
}

    .details table{
        text-align: center;
        font-size: 3vh;
        width: 100%;
        margin-top: 2vh;    
    }

        .details table td {
            border: 1px white solid;
            width: 50%;
        }

        .details table p {
            color: greenyellow;
            font-size: 3vh;
            padding-left: 2px;
            padding-right: 2px;
        } 

.arrow-icon {
    animation: arrow-icon-animation 2s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-fill-mode: none;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0px);
    visibility: hidden;
}

    @keyframes arrow-icon-animation {
        0% {
            visibility: visible;
            transform: translate(-50%, 0px);
        }
        50% {
            transform: translate(-50%, -60px);
        }
        100% {
            transform: translate(-50%, 0px);
            visibility: hidden;
            animation-play-state: paused;
        }
    }

@media (min-width: 279px) {
    body {
        font-family: 'Consolas';
        font-size: 50px;
    }
    
    body p {
        font-size: 35px;
    }

    .home {
        padding-top: 50%;
    }

    .arrow-icon {
        top: 75%;
    }

    .details table {
        font-size: 2.5vh;
    }

        .details table p{
            font-size: 2.3vh;
        }
    
}

@media (min-width: 576px) {
    body {
        font-family: 'Consolas';
        font-size: 75px;
    }
    
    body p {
        font-size: 60px;
    }

    .home {
        padding-top: 50%;
    }

    .arrow-icon {
        top: 75%;
    }

}

@media (min-width: 768px) {
    body {
        font-family: 'Consolas';
        font-size: 90px;
    }
    
    body p {
        font-size: 100px;
    }

    .home {
        padding-top: 50%;
    }

    .arrow-icon {
        top: 85%;
    }

    .details table {
        font-size: 4vh;
    }

        .details table p{
            font-size: 3vh;
        }
}

@media (min-width: 992px) {
    body {
        font-family: 'Consolas';
        font-size: 105px;
    }
    
    body p {
        font-size: 80px;
        margin-top: 5%;
    }

    .home {
        padding-top: 10%;
    }

    .arrow-icon {
        top: 75%;
    }

    .details table {
        font-size: 5vh;
        margin-top: 6vh;
    }

        .details table p{
            font-size: 4vh;
        }
}

@media (min-width: 1200px) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 5%;
    }

    .home {
        padding-top: 12%;
    }

    .arrow-icon {
        top: 75%;
    }

    .details table {
        max-width: 100%;
    }

    
}

@media (min-width: 1500px) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 2%;
    }

    .home {
        padding-top: 12%;
    }

    .arrow-icon {
        top: 75%;
    }
}

@media (min-width: 1900px) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 2%;
    }

    .home {
        padding-top: 10%;
    }

    .arrow-icon {
        top: 70%;
    }
}

@media (min-width: 2550px) {
    body {
        font-family: 'Consolas';
        font-size: 300px;
    }
    
    body p {
        font-size: 300px;
        margin-top: 2%;
    }

    .home {
        padding-top: 10%;
    }

    .arrow-icon {
        top: 85%;
    }
}

@media (min-width: 3800) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 20%;
    }

    .home {
        padding-top: 50%;
    }

    .arrow-icon {
        top: 80%;
    }
}

@media (min-width: 7600) {
    body {
        font-family: 'Consolas';
        font-size: 600px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 20%;
    }

    .home {
        padding-top: 50%;
    }

    .arrow-icon {
        top: 80%;
    }
}
