html {
    height: 100%;
}

body {
    font-family: 'Lucida Console', sans-serif;
    color: white;
    font-size: 35px;
    height: 100%;
}

body p {
    font-size: 30px;
    margin-top: 10%;
}

.home {
    border: 2px blue solid;
    width: 100%;
    min-height: 100%;
    padding-top: 40%;
}

.details {
    padding: 0%;
}

.details-icon {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0px);
}

@media (min-width: 576px) {
    body {
        font-family: 'Consolas';
        font-size: 75px;
    }
    
    body p {
        font-size: 60px;
    }

    .home {
        padding-top: 10%;
    }

    .details-icon {
        top: 75%;
    }

}

@media (min-width: 768px) {
    body {
        font-family: 'Consolas';
        font-size: 90px;
    }
    
    body p {
        font-size: 100px;
    }

    .home {
        padding-top: 10%;
    }

    .details-icon {
        top: 75%;
    }
}

@media (min-width: 992px) {
    body {
        font-family: 'Consolas';
        font-size: 105px;
    }
    
    body p {
        font-size: 80px;
        margin-top: 5%;
    }

    .home {
        padding-top: 10%;
    }

    .details-icon {
        top: 75%;
    }
}

@media (min-width: 1200px) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 5%;
    }

    .home {
        padding-top: 5%;
    }

    .details-icon {
        top: 75%;
    }
}

@media (min-width: 1500px) {
    body {
        font-family: 'Consolas';
        font-size: 120px;
    }
    
    body p {
        font-size: 90px;
        margin-top: 2%;
    }

    .home {
        padding-top: 2%;
    }

    .details-icon {
        top: 70%;
    }
}
